{% extends 'base.html.twig' %}
{% block title 'Importer fichier' %}

{% block stylesheets %}
    <link href="{{ asset('/ressources/css/importer.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="row mt-4">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="col-lg-2 col-sm-2"></div>

        <div class="drop-file col-lg-8 col-sm-8">
            <div class="row center">
                <h1> <i class="fa fa-upload mr-2"></i> Importer un fichier CSV</h1>
            </div>
            <div class="row center">
                {{ form_start(form) }}
                    {{  form_rest(form) }}
                    <button type="submit" class="btn btn-primary center">Importer</button>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="col-lg-2 col-sm-2"></div>
    </div>


{% endblock %}