<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Stages Polytech{% endblock %}</title>
        <link rel="icon" href= {{  asset('/ressources/images/icone.ico') }}/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
        {% block stylesheets %}
            <link href="{{ asset('/ressources/css/base.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-success">
            <a class="navbar-brand" href="{{ path('accueil') }}"><img src="{{ asset('ressources/images/logo-blanc.png') }}" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% if current_menu is defined and current_menu == 'accueil' %} active {% endif %}">
                        <a class="nav-link nav-font-bold mr-4" href="{{ path('accueil') }}"><i class="fa fa-home mr-2"></i>Accueil</a>
                    </li>
                    <li class="nav-item {% if current_menu is defined and current_menu == 'stage' %} active {% endif %}">
                        <a class="nav-link nav-font-bold mr-4" href="{{ path('stage.index') }}"><i class="fa fa-search mr-2"></i>Rechercher</a>
                    </li>
                    <li class="nav-item {% if current_menu is defined and current_menu == 'importer' %} active {% endif %}">
                        <a class="nav-link nav-font-bold mr-4" href="{{ path('importer') }}"><i class="fa fa-upload mr-2"></i>Importer</a>
                    </li>

                    {% if app.user %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item {% if current_menu is defined and current_menu == 'admin' %} active {% endif %}">
                                <a class="nav-link" href="{{ path('admin.index.stages') }}"><img src="#" alt=".">Admin</a>
                            </li>
                        {% endif %}
                        <li class="nav-item"><a href="#" class="nav-link">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% block body %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        {% block javascripts %}
            <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
        {% endblock %}

        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
                $(document).ready(function() {
                    $('.table').DataTable( {
                        "language": {
                            "sEmptyTable":     "Aucune donnée disponible dans le tableau",
                            "sInfo":           "Affichage de l'élément _START_ à _END_ sur _TOTAL_ éléments",
                            "sInfoEmpty":      "Affichage de l'élément 0 à 0 sur 0 élément",
                            "sInfoFiltered":   "(filtré à partir de _MAX_ éléments au total)",
                            "sInfoPostFix":    "",
                            "sInfoThousands":  ",",
                            "sLengthMenu":     "Afficher _MENU_ éléments",
                            "sLoadingRecords": "Chargement...",
                            "sProcessing":     "Traitement...",
                            "sSearch":         "Rechercher :",
                            "sZeroRecords":    "Aucun élément correspondant trouvé",
                            "oPaginate": {
                                "sFirst":    "Premier",
                                "sLast":     "Dernier",
                                "sNext":     "Suivant",
                                "sPrevious": "Précédent"
                            },
                            "oAria": {
                                "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                                "sSortDescending": ": activer pour trier la colonne par ordre décroissant"
                            },
                            "select": {
                                "rows": {
                                    "_": "%d lignes sélectionnées",
                                    "0": "Aucune ligne sélectionnée",
                                    "1": "1 ligne sélectionnée"
                                }
                            }
                        },
                        dom:            [
                            "<'row'<'col-12 col-md-6'Bl><'col-12 col-md-6'f>>",
                            "<'row'<'col-12'tr>>",
                            "<'row'<'col-12 col-md-5'i><'col-12 col-md-7'p>>"
                        ].join(''),

                        pageLength:     10,
                        lengthChange:   false,

                        columnDefs: [
                            { targets: 'optional', visible: false },
                            { targets: 'actions', orderable: false, sortable: false, searchable: false },
                        ],

                        search:         {
                            regex:           true,
                            caseInsensitive: true,
                            smart:           true
                        },

                        buttons: []
                    });
                } );
            })
        </script>
    </body>
</html>
