{% extends 'base.html.twig' %}
{% block title 'Rechercher Stage' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Rechercher parmis les stages Polytech effectués</h1>
    </div>
    <div class="container">
        <div class="row flex">
            {%  for stage in stages %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('stage.show', {id: stage.id, slug: stage.slug}) }}">{{ stage.intitule }}</a>
                            </h5>
                            <p class="card-text">
                                <div class="container">
                                    <div class="row">
                                        <p> {{ stage.adresse.entreprise.nom }}</p>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p>{{ stage.adresse.ville }}</p>
                                        </div>
                                        <div class="col">
                                            <p>({{ stage.adresse.codePostal }})</p>
                                        </div>
                                        <div class="col">
                                            <p>{{ stage.adresse.pays }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p>Durée: {{ stage.dureeJours }} jours</p>
                                        </div>
                                        <div class="col">
                                            <p>{{ stage.annee }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            {{ stage.anneeFormType }}
                                        </div>
                                        <div class="col">
                                            {{ stage.departementType }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            {% if stage.estGratifie %}<i class="fa fa-money"></i>{% endif %}
                                        </div>
                                        <div class="col">
                                            {% if stage.embauche %}<i class="fa fa-briefcase"></i>{% endif %}
                                        </div>
                                        <div class="col">
                                            {% if stage.contratPro %}<i class="fa fa-wrench"></i>{% endif %}
                                        </div>
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}